* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #0f0f0f0f;
}

html,
body {
    font-family: "Roslindale Display Condensed";
    background: #c6d5c6;
}

.nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-links {
    display: flex;
}

.logo,
.nav-item {
    margin: 2em;
    font-weight: 400;
    font-size: 1.5vw;
}

h1 {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 500;
    font-size: 10vw;
    line-height: 1;
    text-transform: uppercase;
    color: black;
}

h2 {
    margin-top: 5%;
    text-align: center;
    font-weight: 500;
    font-size: 4vw;
    line-height: 1;
    text-transform: uppercase;
    color: black;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: black;
}

th {
    color: black;
    font-size: 30px;
    font-weight: 5px;
}

td {
    color: black;
    font-size: 20px;
}

tr {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.slide-in {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform-origin: bottom;
}

.slide-out {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform-origin: top;
}

.imagem {
    max-width: 40vw;
    height: auto;
    border-radius: 30px;
    box-shadow: 10px 10px 5px rgba(167, 167, 167, 0.534);
    cursor: pointer;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff0c3;
}

.container_imagem2 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #92d8be;
}

.container_imagem_padrao {
    position: relative;
    /* Tornar o contêiner uma referência para posicionamento absoluto */
    display: inline-block;
    /* Para que o contêiner se ajuste ao tamanho da imagem */
}

.botao_pages {
    position: absolute;
    width: 12.5%;
    height: 1.85%;
    /* Posição absoluta em relação ao contêiner pai */
    top: 71.8%;
    /* Ajuste a parte superior para centrar verticalmente o botão */
    left: 68.6%;
    /* Ajuste a esquerda para centrar horizontalmente o botão */
    transform: rotate(-17deg);
    /* Centralizar o botão completamente */
    padding: 10px 20px;
    /* Adicionar preenchimento ao botão para torná-lo clicável */
    background-color: #007bff00;
    /* Cor de fundo do botão */
    color: #fff;
    /* Cor do texto do botão */
    border: none;
    /* Remover a borda do botão */
    cursor: pointer;
    /* Alterar o cursor ao passar o mouse sobre o botão */
}

.botao_pages2 {
    width: 2%;
    /* 1100px em relação a 1920px de largura */
    height: 1.9%;
    /* 20px em relação a 1080px de altura */
    /* 70px em relação a 1920px de largura */
    left: 56.6%;
    top: 93%;
    /* 640px em relação a 1080px de altura */
    position: absolute;
    transform: rotate(-17deg);
    background-color: #007bff00;
    border: none;
    cursor: pointer;
    /* background-color: white; */
}

.container_ranking {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(83, 13, 150);
}

input {
    color: #fff;
    /* Cor do texto */
    font-size: 18px;
    /* Tamanho da fonte */
    width: 50%;
    padding: 15px;
    /* Maior espaço interno */
    background-color: #33bee97e;
    /* Cor de fundo mais escura */
    border: 1px solid #e0138c;
    /* Adiciona uma borda com cor */
    border-radius: 4px;
    outline: none;
    /* Remove a borda padrão ao focar */
    transition: background-color 0.3s, border-color 0.3s;
    /* Adiciona transição suave para animações */
}

input:focus {
    background-color: #33bee97e;
    /* Cor de fundo ao focar */
    border-color: #e0138c;
    /* Cor da borda ao focar */
}

.button_input {
    width: 15%;
    height: auto;
    color: #fff;
    font-size: 18px;
    padding: 15px 30px;
    /* Maior espaço interno horizontal */
    background-color: #e0138c;
    /* Cor de fundo do botão */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 30px;
    border-radius: 15px;
}

.input_name {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.button_input:hover {
    background-color: #ff1493;
    /* Cor de fundo do botão ao passar o mouse */
}

.nav-link {
    margin: 50px;
    background-color: #ff1493;
    color: white;
    padding: 15px;
    border-radius: 15px;
}